<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Učiteľský prehľad</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="header-top">
        <h1>Vitajte, <span th:text="${teacherName}">Učiteľ</span></h1>
        <a th:href="@{/logout}" class="btn logout-btn">Odhlásiť sa</a>
    </div>

    <div class="button-row" style="display: flex; gap: 10px; flex-wrap: wrap; margin-bottom: 20px;">
        <a th:href="@{/teacher/overview}" class="btn">Prehľad termínov</a>
        <a th:href="@{/teacher/create-page}" class="btn">Vytvorenie termínov</a>
        <a th:href="@{/teacher/approvals}" class="btn">Schvaľovanie termínov</a>
    </div>

    <h2>Moje vypísané termíny</h2>
    <table>
        <thead>
        <tr>
            <th>Dátum a čas</th>
            <th>Popis</th>
            <th>Stav</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="slot : ${slots}">
            <td th:text="${#temporals.format(slot.startTime, 'dd.MM.yyyy HH:mm')} + ' - ' + ${#temporals.format(slot.endTime, 'HH:mm')}"></td>
            <td th:text="${slot.description}"></td>
            <td>
                <!-- zistit ci ma slot nejaku rezervaciu nastavenu na approved -->
                <th:block th:with="approvedList=${slot.reservations.?[status == 'APPROVED']}">

                    <!-- ak nie je prazdny list tak vypiseme -->
                    <span th:if="${not #lists.isEmpty(approvedList)}" style="color: blue; font-weight: bold;">
                            Schválené (<span th:text="${approvedList[0].student.fullName}">Meno</span>)
                        </span>

                    <!-- prazdny list approved a aktivne sloty -->
                    <span th:if="${#lists.isEmpty(approvedList) and slot.active}" style="color: green; font-weight: bold;">
                            Aktívny
                        </span>

                </th:block>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(slots)}">
            <td colspan="3" style="text-align: center;">Zatiaľ ste nevypísali žiadne termíny.</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
